<?xml version="1.0"?>
<config>
  <modules>
     <Codilar_ShippingRates>
       <version>0.2.0</version>
     </Codilar_ShippingRates>	 
  </modules>
  <global>
  	<models>
      <shippingrates>
         <class>Codilar_ShippingRates_Model</class>
         <resourceModel>shippingrates_resource</resourceModel>
      </shippingrates>
      <shippingrates_resource>
          <class>Codilar_ShippingRates_Model_Resource</class>
          <entities>
            <categoryrate>
               <table>categoryrate</table>
            </categoryrate>
            <shippingzonerates>
               <table>shippingzonerates</table>
            </shippingzonerates>  
          </entities>
      </shippingrates_resource>
    </models>
    <resources>
       <shippingrates_setup>
          <setup>
            <module>Codilar_ShippingRates</module>
          </setup>
          <connection>
             <use>core_setup</use>
          </connection>
       </shippingrates_setup>
       <shippingrates_write>
          <connection>
             <use>core_write</use>
          </connection>
       </shippingrates_write>
       <shippingrates_read>
          <connection>
            <use>core_read</use>
          </connection>
       </shippingrates_read>
    </resources>
    <blocks>
        <shippingrates>
            <class>Codilar_ShippingRates_Block</class>
        </shippingrates>
    </blocks>
    <helpers>
       <shippingrates>
         <class>Codilar_ShippingRates_Helper</class>
       </shippingrates>
    </helpers>
  </global>
  <frontend>
  	<routers>
  		<shippingrates>
  			<use>standard</use>
  			<args>
  				<module>Codilar_ShippingRates</module>
  				<frontName>shippingrates</frontName>
  			</args>	
  		</shippingrates>
  	</routers>
  	<layout>
	   <updates>
		  <shippingrates>
			 <file>deliveryzonecharges.xml</file>
	      </shippingrates>
	   </updates>
    </layout>		
  </frontend>
  <admin>
        <routers>
            <shippingrates>
                <use>admin</use>
                <args>
                    <module>Codilar_ShippingRates</module>
                    <frontName>shippingrates</frontName>
                </args>
            </shippingrates>
        </routers>
  </admin>
  <admin>     
    <routers>
        <adminhtml>
            <args>
                <modules>
                  <codilar_shippingrates before="Mage_Adminhtml">Codilar_ShippingRates_Adminhtml</codilar_shippingrates>
                </modules>
            </args>
        </adminhtml>
    </routers>
  </admin>
  <adminhtml>
     <layout>
       <updates>
          <shippingrates>
            <file>codilar_shippingrates.xml</file>
          </shippingrates>
       </updates>
     </layout>
  </adminhtml>  
</config> 